{% extends 'base-table-page.html' %}
{% load static %}

{% block datatable %}
<table class="table mt-2" style="text-align: center; font-size: 14px;">
  <thead class="thead-dark" style="background-color: #ffe1bc;">
    <tr>
        <th scope="col" class="ms-2">Passport</th>
        <th scope="col">Name</th>
        <th scope="col">Sex</th>
        <th scope="col">Position</th>
        <th scope="col">Theaters</th>
        <th scope="col" style="width: 200px;"></th>
    </tr>
  </thead>
  <tbody>
    {% for p in participants %}
    <tr>
        <th scope="row">{{ p.passport }}</th>
        <td>{{ p.name }}</td>
        <td>{{ p.sex }}</td>
        <td>{{ p.position }}</td>
        {% if p.theater != None %}
      <td><div>
          {% for th in e.theater.split %}
          {{ th.name }}
          {% endfor %}
        </div></td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
            <button type="button" class="btn btn-outline-danger" onclick="location.href='./delete/{{ p.passport }}'">Delete</button>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}