{% extends 'base-table-page.html' %}
{% load static %}

{% block datatable %}
<table class="table mt-2" style="text-align: center; font-size: 14px;">
  <thead class="thead-dark" style="background-color: #ffe1bc;">
    <tr>
        <th scope="col" class="ms-2">Id</th>
        <th scope="col">Theater</th>
        <th scope="col">Performance</th>
        <th scope="col">Participant</th>
        <th scope="col" style="width: 200px;"></th>
    </tr>
  </thead>
  <tbody>
    {% for p in put_on %}
    <tr>
        <th scope="row">{{ p.id }}</th>
        <td>{{ p.theater_id }}</td>
        <td>{{ p.performance_id }}</td>
        <td>{{ p.participant.employee }}</td>
        <td>
            <button type="button" class="btn btn-outline-success" onclick="location.href='./edit/{{ p.id }}'">Edit</button>
            <button type="button" class="btn btn-outline-danger" onclick="location.href='./delete/{{ p.id }}'">Delete</button>
        </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}